<?xml version="1.0" ?>
<robot name="robot_platform" xmlns:xacro="http://www.ros.org/wiki/xacro">

<link name="base_link_platform">
  <!-- <inertial>
    <origin xyz="1.7101321326960564e-13 8.679894650498821e-17 0.0863895412173627" rpy="0 0 0"/>
    <mass value="0.9253539827894784"/>
    <inertia ixx="0.001454" iyy="0.001454" izz="0.00057" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial> -->
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur5e_2f_85_description/meshes/robot_platform/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur5e_2f_85_description/meshes/robot_platform/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="table_support_dx_front_1">
  <!-- <inertial>
    <origin xyz="-1.7105179057916502e-13 -0.8 0.0863895412173634" rpy="0 0 0"/>
    <mass value="0.9253539827894699"/>
    <inertia ixx="0.001454" iyy="0.001454" izz="0.00057" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial> -->
  <visual>
    <origin xyz="-0.0 0.8 -0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur5e_2f_85_description/meshes/robot_platform/table_support_dx_front_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.8 -0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur5e_2f_85_description/meshes/robot_platform/table_support_dx_front_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="table_support_sx_front_1">
  <!-- <inertial>
    <origin xyz="0.7999999999998291 -0.7999999999999996 0.08638954121736331" rpy="0 0 0"/>
    <mass value="0.9253539827894874"/>
    <inertia ixx="0.001454" iyy="0.001454" izz="0.00057" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial> -->
  <visual>
    <origin xyz="-0.8 0.8 -0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur5e_2f_85_description/meshes/robot_platform/table_support_sx_front_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.8 0.8 -0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur5e_2f_85_description/meshes/robot_platform/table_support_sx_front_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="table_support_sx_back_1">
  <!-- <inertial>
    <origin xyz="0.8000000000001714 7.715461911554486e-17 0.08638954121736253" rpy="0 0 0"/>
    <mass value="0.925353982789481"/>
    <inertia ixx="0.001454" iyy="0.001454" izz="0.00057" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial> -->
  <visual>
    <origin xyz="-0.8 -0.0 -0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur5e_2f_85_description/meshes/robot_platform/table_support_sx_back_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.8 -0.0 -0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur5e_2f_85_description/meshes/robot_platform/table_support_sx_back_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="vertical_back_dx_1">
  <!-- <inertial>
    <origin xyz="1.0825169898872861e-13 -4.4572956209630415e-15 0.4050000000000011" rpy="0 0 0"/>
    <mass value="3.299632798237497"/>
    <inertia ixx="0.093131" iyy="0.093131" izz="0.001262" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial> -->
  <visual>
    <origin xyz="-0.0 -0.0 -0.115" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur5e_2f_85_description/meshes/robot_platform/vertical_back_dx_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.0 -0.115" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur5e_2f_85_description/meshes/robot_platform/vertical_back_dx_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="vertical_front_dx_1">
  <!-- <inertial>
    <origin xyz="1.3180125783079768e-13 0.7999999999999958 0.4050000000000024" rpy="0 0 0"/>
    <mass value="3.2996327982374267"/>
    <inertia ixx="0.093131" iyy="0.093131" izz="0.001262" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial> -->
  <visual>
    <origin xyz="-0.0 0.8 -0.115" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur5e_2f_85_description/meshes/robot_platform/vertical_front_dx_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.8 -0.115" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur5e_2f_85_description/meshes/robot_platform/vertical_front_dx_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="vertical_front_sx_1">
  <!-- <inertial>
    <origin xyz="-0.7999999999998921 0.7999999999999957 0.40500000000000136" rpy="0 0 0"/>
    <mass value="3.299632798237435"/>
    <inertia ixx="0.093131" iyy="0.093131" izz="0.001262" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial> -->
  <visual>
    <origin xyz="-0.8 0.8 -0.115" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur5e_2f_85_description/meshes/robot_platform/vertical_front_sx_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.8 0.8 -0.115" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur5e_2f_85_description/meshes/robot_platform/vertical_front_sx_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="vertical_back_sx_1">
  <!-- <inertial>
    <origin xyz="-0.7999999999998684 -4.389678879140158e-15 0.404999999999999" rpy="0 0 0"/>
    <mass value="3.299632798237513"/>
    <inertia ixx="0.093131" iyy="0.093131" izz="0.001262" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial> -->
  <visual>
    <origin xyz="-0.8 -0.0 -0.115" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur5e_2f_85_description/meshes/robot_platform/vertical_back_sx_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.8 -0.0 -0.115" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur5e_2f_85_description/meshes/robot_platform/vertical_back_sx_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="table_1">
  <!-- <inertial>
    <origin xyz="0.40000000000000385 -0.47699999999999404 0.7112526611221979" rpy="0 0 0"/>
    <mass value="247.23322038149666"/>
    <inertia ixx="20.623205" iyy="20.623205" izz="41.205537" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial> -->
  <visual>
    <origin xyz="-0.400 0.477 -0.71" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur5e_2f_85_description/meshes/robot_platform/table_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.400 0.477 -0.71" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur5e_2f_85_description/meshes/robot_platform/table_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="robot_base_1">
  <!-- <inertial>
    <origin xyz="0.40003435984289154 0.1650000000000009 0.8252146550277948" rpy="0 0 0"/>
    <mass value="4.5478768461232075"/>
    <inertia ixx="0.019419" iyy="0.019473" izz="0.038619" ixy="0.0" iyz="0.0" ixz="-1e-06"/>
  </inertial> -->
  <visual>
    <origin xyz="-0.40 -0.165 -0.84" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur5e_2f_85_description/meshes/robot_platform/robot_base_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.40 -0.165 -0.84" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur5e_2f_85_description/meshes/robot_platform/robot_base_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="base_link_front_right_support" type="fixed">
  <origin xyz="0.0 -0.8 0.0" rpy="0 0 0"/>
  <parent link="base_link_platform"/>
  <child link="table_support_dx_front_1"/>
</joint>

<joint name="base_link_front_left_support" type="fixed">
  <origin xyz="0.8 -0.8 0.0" rpy="0 0 0"/>
  <parent link="base_link_platform"/>
  <child link="table_support_sx_front_1"/>
</joint>

<joint name="base_link_back_left_support" type="fixed">
  <origin xyz="0.8 0.0 0.0" rpy="0 0 0"/>
  <parent link="base_link_platform"/>
  <child link="table_support_sx_back_1"/>
</joint>

<joint name="vertical_back_right" type="fixed">
  <origin xyz="0.0 0.0 0.115" rpy="0 0 0"/>
  <parent link="base_link_platform"/>
  <child link="vertical_back_dx_1"/>
</joint>

<joint name="vertical_front_right" type="fixed">
  <origin xyz="0.0 0.0 0.115" rpy="0 0 0"/>
  <parent link="table_support_dx_front_1"/>
  <child link="vertical_front_dx_1"/>
</joint>

<joint name="vertical_front_left" type="fixed">
  <origin xyz="0.0 0.0 0.115" rpy="0 0 0"/>
  <parent link="table_support_sx_front_1"/>
  <child link="vertical_front_sx_1"/>
</joint>

<joint name="vertical_back_left" type="fixed">
  <origin xyz="0.0 0.0 0.115" rpy="0 0 0"/>
  <parent link="table_support_sx_back_1"/>
  <child link="vertical_back_sx_1"/>
</joint>

<joint name="table" type="fixed">
  <origin xyz="0.400 -0.477 0.74" rpy="0 0 0"/>
  <parent link="base_link_platform"/>
  <child link="table_1"/>
</joint>

<joint name="robot_base" type="fixed">
  <origin xyz="0.38 0.135 0.86" rpy="0 0 0"/>
  <parent link="base_link_platform"/>
  <child link="robot_base_1"/>
</joint>

</robot>