<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5e_2f_85">    
    <xacro:macro name="robot_camera">
        <xacro:include filename="$(find ur5e_2f_85_description)/urdf/materials.xacro" />
        <xacro:include filename="$(find ur5e_2f_85_description)/urdf/table_and_robot_platform.xacro"/>
        <xacro:include filename="$(find ur5e_2f_85_description)/urdf/ur5e_2f_85_zed_mini_camera.xacro"/>
        
        <joint name="platform_to_robot" type="fixed">
            <parent link="robot_base_1"/>
            <child link="base_link"/>
            <origin xyz="0.0 0.0 0.00" rpy="0 0 3.18"/>
        </joint>
    
    </xacro:macro>
    <xacro:robot_camera />
</robot>